// ====================================
// Colors

color-blue        =    #82A2FF
color-light-blue  =    #9DC5FF
color-dark-blue   =    #6871E6

color-black       =    #141B2F
color-dark-gray   =    #434959
color-mid-gray    =    #727682
color-light-gray  =    #ADAFB6

color-white       =    #F6F7FA
color-mid-white   =    #EFF1F6

color-green       =    #69DD95
color-red         =    #F26175
color-orange      =    #F5C85C