/* ==================================== */
/* Button 1 =========================== */
.button--one
  color: color-mid-gray

  border: 1px solid color-mid-white
  border-radius: 0px
  background-color: color-mid-white

  box-shadow: 0px 2px 10px color-mid-gray
  transition: all 300s ease

  &:hover
    box-shadow: 0px 10px 10px color-blue
    color: purple-dark
    transform: translateY(-5px)

  &:active
    box-shadow: 0px 5px 10px color-blue
    color: purple-dark
    transform: translateY(-1px)

  &:focus
    outline: none


/* ==================================== */
/* Button 2 =========================== */
.button--two
  background-color: transparent
  color: color-blue

  border: 3px solid color-blue
  border-radius: 0px

  &:hover
    box-shadow: 0px 2px 10px color-mid-gray
    background-color: color-blue
    color: color-mid-white

  &:active
    background-color: color-light-blue
    border-color: color-light-blue
    color: color-mid-white

  &:focus
    outline: none


/* ==================================== */
/* Button 3 =========================== */
.button--three
  background-color: color-blue
  color: color-mid-white

  border: 3px solid color-blue
  border-radius: 0px

  &:hover
    box-shadow: 0px 2px 10px color-mid-gray
    color: color-mid-white

  &:active
    box-shadow: 0px 2px 10px color-mid-gray

  &:focus
    outline: none

