.card
  position: relative
  background-color: black + 10%
  border-bottom: 3px solid blue + 35%
  max-width: 500px
  width: 100%
  
  &__image
    width: 100%
    height: 190px
    background-color: blue + 35%
    transition: all 400ms ease
    
    &.image-settings
      // background-image: url('../images/img.jpg')
      background-size: cover
      background-position: 50% 50%
    
  &__content
    color: #FFF
    padding: 16px
    height: 50px
    text-align: left;
    
    &:hover
      .card__title
        margin-top: 0px
        font-size: 16px
      .card__tx, .card__more
        opacity: 1
    
  &__title
    text-transform: uppercase
    font-weight: 700
    font-size: 20px
    margin-top: 15px
    transition: all 400ms ease
    
  &__tx
    opacity: 0
    transition: all 400ms ease
    
  &__more
    opacity: 0
    
    position: absolute
    bottom: 20px
    right: 3%
    
    width: 120px
    height: 35px
    
    border: 0px
    border-radius: 50px
    
    box-shadow: 0px 0px 20px rgba(50, 50, 50, 0.2)
    background:linear-gradient(120deg,#ff00ff, #d472d4)
    color: #FFF
    
    text-transform: uppercase
    transition: all 400ms ease
    cursor: pointer
    
    &:hover
      box-shadow: 0px 0px 20px rgba(50, 50, 50, 0.7)
      background: linear-gradient(150deg,#ff00ff, #d472d4)
    &:focus
      outline: none
    &:active
      transform: translateY(2px)
    
  &__plus
    position: absolute
    top: 3%
    left: 88%
    
    width: 50px
    height: 50px
    
    box-shadow: 0px 0px 20px rgba(50, 50, 50, 0.2)
    background: linear-gradient(120deg,#ff00ff, #d472d4)
    color: #FFF
    
    text-align: center
    font-size: 32px
    font-weight: 900
    
    border: 0px
    border-radius: 50px
    cursor: pointer
    
    transition: all 400ms ease
    
    &:hover
      box-shadow: 0px 0px 20px rgba(50, 50, 50, 0.7)
      background: linear-gradient(150deg,#ff00ff, #d472d4)
    &:focus
      outline: none
    &:active
      transform: translateX(2px)