input[type=checkbox]
	visibility: hidden
	
.checkbox
	display: block
	width: 20px
	height: 20px
	background-color: transparent
	margin: 20px 5px
	border-radius: 0px
	border: 2px solid color-blue
	position: relative
	
	& label
		display: block
		width: 20px
		height: 20px
		border-radius: 0px
		
		transition: all 500ms ease
		cursor: pointer
		
		position: absolute
		top: 0px
		left: 0px
		
		&:nth-child(3)
			padding: 2px 0px 0px 30px
			width: 170px
		
	& input[type=checkbox]:checked + label
		background-color: color-blue

// .checkbox
// 	width: 40px
// 	height: 10px
// 	background: #555
// 	margin: 20px 80px
// 	position: relative
// 	border-radius: 3px
	
// 	& label
// 		display: block
// 		width: 16px
// 		height: 16px
// 		border-radius: 50%
		
// 		transition: all 500ms ease
// 		cursor: pointer
		
// 		position: absolute
// 		top: -3px
// 		left: -3px
		
// 		background: #CCC
		
// 	& input[type=checkbox]:checked + label
// 		left: 27px