/* ==================================== */
/* Base Style of Elements ============= */
.button, .input, .select, .panel, .list, .tooltips
		box-sizing: border-box
		min-width: 200px
		transition: all 300s ease
		margin: 2px 5px

.button
		height: 37px
		cursor: pointer
		font-weight: 700

.input
		padding: 10px 15px
		border: 1px solid color-blue

		&:focus
			outline: none

.select
		padding: 10px 15px

		background-color: color-mid-white
		border: 1px solid color-blue
		color: #967AE2
		font-weight: 900

		&:focus
			outline: none

.panel
		display: inline-block
		background-color: color-mid-white
		color: #967AE2
		max-width: 500px
		font-weight: 500
		text-align: left

.list
		display: inline-block
		list-style: none
		border: 1px solid color-mid-white
		
		& li:hover
			color: color-black