/* ==================================== */
/* Input 1 =========================== */
.input-one
	border: 1px solid color-mid-white
	border-radius: 0px

	background-color: color-mid-white
	box-shadow: 0px 2px 20px color-mid-gray

	color: color-dark-blue

	font-weight: 900

	&:hover
		box-shadow: 0px 5px 20px color-blue
		border-color: color-mid-white
		transform: translateY(-3px)

	&:focus
		box-shadow: 0px 5px 20px color-blue
		color: color-dark-blue
		transform: translateY(-3px)

	&::-webkit-input-placeholder
		color: color-mid-gray

	&::-moz-placeholder
		color: color-mid-gray

	&:-ms-input-placeholder
		color: color-mid-gray

	&:-moz-placeholder
		color: color-mid-gray

/* ==================================== */
/* Input 2 =========================== */
.input-two
	background-color: transparent
	color: color-blue

	border: 2px solid color-blue
	border-radius: 5px

	font-weight: 900

	&:hover
		box-shadow: 0px 2px 20px color-mid-gray
		background-color: color-blue
		color: color-mid-white

		&::-webkit-input-placeholder
			color: color-mid-white

		&::-moz-placeholder
			color: color-mid-white

		&:-ms-input-placeholder
			color: color-mid-white

		&:-moz-placeholder
			color: color-mid-white

	&:focus
		box-shadow: 0px 2px 20px color-mid-gray
		background-color: color-blue
		color: color-mid-white

		&::-webkit-input-placeholder
			color: color-mid-white

		&::-moz-placeholder
			color: color-mid-white

		&:-ms-input-placeholder
			color: color-mid-white

		&:-moz-placeholder
			color: color-mid-white
			
	&:active
		background-color: color-blue
		font-size: 20px


/* ==================================== */
/* Input 3 =========================== */
.input-three
	background-color: color-blue
	color: color-mid-white

	border: 3px solid color-blue
	border-radius: 0px

	font-weight: 900

	&:hover
		box-shadow: 0px 2px 20px color-mid-gray
		background-color: color-blue
		color: color-mid-white

	&:focus
		box-shadow: 0px 2px 20px color-mid-gray
		background-color: color-blue
		color: color-mid-white

	&::-webkit-input-placeholder
		color: color-mid-white

	&::-moz-placeholder
		color: color-mid-white

	&:-ms-input-placeholder
		color: color-mid-white

	&:-moz-placeholder
		color: color-mid-white

