/* ==================================== */
/* List 1 =========================== */
.list-one
  color: color-mid-gray

  border: 1px solid color-white
  border-radius: 0px
  background-color: color-mid-white

  // box-shadow: 0px 2px 20px color-white
  font-weight: 900

  &__item
    padding: 20px 15px
    transition: all .3s ease

  &__item:hover
    box-shadow: 0px 1px 20px color-blue
    color: color-blue


/* ==================================== */
/* List 2 =========================== */
.list-two
  color: color-blue

  border: 3px solid color-blue
  border-radius: 0px
  background-color: color-mid-white

  // box-shadow: 0px 2px 20px color-white
  font-weight: 900

  &__item
    padding: 20px 15px
    transition: all .3s ease

  &__item:hover
    box-shadow: 0px 1px 20px color-blue
    background-color: color-blue
    color: color-mid-white


/* ==================================== */
/* List 3 =========================== */
.list-three
  color: color-mid-white

  border: 3px solid color-blue
  border-radius: 0px
  background-color: color-blue

  // box-shadow: 0px 2px 20px color-white
  font-weight: 900

  &__item
    padding: 20px 15px
    transition: all .3s ease

  &__item:hover
    background-color: color-mid-white
    color: color-blue

  &__item:nth-child(1):hover
    border-radius: 0px

  &__item:nth-child(3):hover
    border-radius: 0px

