.navigation
  box-sizing: border-box
  width: 100%
  height: 53px
  background-color: #222
  color: #F1F1F1
  padding: 0 0 0 15px
    
  &--fixed
    position: fixed
    z-index: 9999
  
  &__logo,
  &__link
    display: inline-block
    
  &__logo
    float: left
    
  &__link
    float: right
  
  &__image
    width: 50px
    
  &__list
    list-style: none
    
    & a
      text-decoration: none
      color: #FFF

    &__item
      display: inline-block
      width: 80px
      line-height: 50px
      text-align: center
      transition: all 200ms ease
      padding: 0px 10px
      
      &:hover
        background-color: #444        
        border-bottom: 3px solid orange
        
  &__hamburguer
    display: none
        
@media only screen and (max-width: 768px)
  .navigation__list
    display: none
  
  .navigation__hamburguer
    position: relative
    padding: 10px
    display: block
    
    &__list
      position: absolute
      top: 53px
      right: 0px
      width: 200px
      list-style: none
      display: none
      & a
        text-decoration: none
      &.is-active
        display: block
        animation: hamburguerSlide 500ms ease
      
      &__item
        display: block
        color: #FFF
        background-color: #333
        text-transform: uppercase
        padding: 20px 0px
        text-align: center
        transition: all 250ms ease
        &:hover
          background-color: #444
    
  .navigation__hamburguer__item
    cursor: pointer
    width: 40px
    height: 8px
    background-color: #00D8FF
    border-radius: 50px
    margin: 2px 0px
    &:before,
    &:after
      content: ''
      display: inline-block
      width: 40px
      height: 8px      
      background-color: #00D8FF
      border-radius: 50px
      
      position: relative
    &:before
      top: 6px
    &:after
      bottom: 0px
      
@keyframes hamburguerSlide
  0%
    transform: translateY(-100%)
    z-index: -100
  100%
    transform: translateY(0%)
    z-index: 1