/* ==================================== */
/* Panel 1 =========================== */
.panel-one
	color: color-mid-gray

	border: 1px solid color-mid-white
	border-radius: 0px
	background-color: color-white

	// box-shadow: 0px 2px 2px color-mid-white

	&__header
		border-bottom: 1px solid color-mid-white
		padding: 20px 15px
		border-radius: 0px 0px 0px 0px

	&__content
		padding: 20px 15px

		& p
			margin-bottom: 10px


/* ==================================== */
/* Panel 2 =========================== */
.panel-two
	color: color-blue

	border: 0px solid color-blue
	border-radius: 0px
	background-color: color-white

	// box-shadow: 0px 2px 20px color-mid-white

	&__header
		background-color: color-blue
		border-bottom: 3px solid color-blue
		color: color-white

		padding: 20px 15px
		border-radius: 0px

		font-weight: 900

	&__content
		padding: 20px 0px

		& p
			text-indent: 15px
			margin-bottom: 10px


/* ==================================== */
/* Panel 3 =========================== */
.panel-three
	background-color: color-blue
	color: color-white

	border-radius: 0px

	text-transform: uppercase

	&__header
		background-color: color-light-blue

		border: 3px solid color-light-blue
		border-radius: 0px 0px 0px 0px

		color: color-white

		padding: 20px 15px

		font-weight: 900

	&__content
		padding: 20px 15px

		& p
			margin-bottom: 10px

