/* ==================================== */
/* Select 1 =========================== */
.select-one
  border: 1px solid color-mid-white
  border-radius: 0px

  background-color: color-mid-white
  box-shadow: 0px 2px 20px color-mid-gray

  text-transform: uppercase

  color: gray-dark

  &:hover
    box-shadow: 0px 5px 20px color-blue
    border-color: color-mid-white
    transform: translateY(-3px)

  &:focus
    box-shadow: 0px 5px 20px color-blue
    border-radius: 0px 0px 0px 0px
    color: color-light-blue
    transform: translateY(-3px)

  &__item
    border: 1px solid color-mid-white
    border-radius: 60px

    background-color: color-blue
    box-shadow: 0px 2px 20px color-mid-gray

    color: color-mid-white

    font-weight: 900

  &__item:hover
    border: 1px solid color-mid-white
    border-radius: 60px

    background-color: color-blue
    box-shadow: 0px 2px 20px color-mid-gray

    color: color-mid-white


/* ==================================== */
/* Select 2 =========================== */
.select-two
  background-color: transparent
  color: color-blue

  border: 3px solid color-blue
  border-radius: 10px

  text-transform: uppercase

  &:hover
    box-shadow: 0px 2px 20px color-mid-gray
    background-color: color-blue
    color: color-mid-white

  &:focus
    box-shadow: 0px 2px 20px color-mid-gray
    border-radius: 0px 0px 0px 0px
    background-color: color-blue
    color: color-mid-white

  &__item
    border: 1px solid color-mid-white
    border-radius: 60px

    background-color: color-blue
    box-shadow: 0px 2px 20px color-mid-gray

    color: color-mid-white

    font-weight: 900

  &__item:hover
    border: 1px solid color-mid-white
    border-radius: 60px

    background-color: color-blue
    box-shadow: 0px 2px 20px color-mid-gray

    color: color-mid-white


/* ==================================== */
/* Select 3 =========================== */
.select-three
  background-color: color-blue
  color: color-mid-white

  border: 3px solid color-blue
  border-radius: 10px

  text-transform: uppercase

  &:hover
    box-shadow: 0px 2px 20px color-mid-gray
    background-color: color-blue
    color: color-mid-white

  &:focus
    box-shadow: 0px 2px 20px color-mid-gray
    border-radius: 0px 0px 0px 0px
    background-color: color-blue
    color: color-mid-white

  &__item
    border: 1px solid color-mid-white
    border-radius: 60px

    background-color: color-blue
    box-shadow: 0px 2px 20px color-mid-gray

    color: color-mid-white

    font-weight: 900

  &__item:hover
    border: 1px solid color-mid-white
    border-radius: 60px

    background-color: color-blue
    box-shadow: 0px 2px 20px color-mid-gray

    color: color-mid-white

